<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div
            class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12"
        >
            <!-- Avatar and name -->
            <div class="flex flex-auto items-center min-w-0">
                <div class="flex flex-col min-w-0 ml-4">
                    <div
                        class="text-1xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                    >
                        <app-back></app-back>Classes in Grade
                        {{ gradeInfo.grade }}
                    </div>
                </div>
            </div>
            <!-- Actions -->
            <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                <button
                    class="fuse-mat-button-rounded"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="addNewClass()"
                >
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:cog'"
                    ></mat-icon>
                    <span class="ml-2">Add New Class</span>
                </button>
            </div>
        </div>
        <!-- Tabs -->

        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
        >
            <!-- Summary -->
            <div
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                *ngFor="let class of classes"
            >
                <app-class-card [class]="class" [isTeacher]="false"></app-class-card>
            </div>
        </div>
    </div>
</div>
