<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
    <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"  [formGroup]="ProductForm" (ngSubmit)="onSubmit()">
      <p class="text-lg font-medium">{{this.header}}</p>
      <div class="flex flex-col gt-xs:flex-row">
          <mat-form-field
              [ngClass]="formFieldHelpers"
              class="flex-auto gt-xs:pr-3">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput>
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <mat-error  *ngIf="f.name.errors.required">product type name is required</mat-error>
                </div>
          </mat-form-field>

</div>

      <div class="flex flex-col gt-md:flex-row">
          <button
          mat-flat-button
          [color]="'primary'"
        [disabled]="!ProductForm.valid" >
          Save
      </button>
      </div>
  </form>
    </div>

