<div class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible"
    cdkScrollable>

    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 sm:py-4 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex items-center ml-6">
            <button class="hidden sm:inline-flex" (click)="back()">
                <span class="ml-2"
                    ><img
                        src="https://img.icons8.com/fluency/48/000000/back.png"
                /></span>
            </button>
    
            <!-- Actions menu (visible on xs) -->
        </div>
          <div class="flex-1 min-w-0">
              <!-- Title -->
              <div class="mt-2">
                  <h2 class="text-lg md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                      
                  </h2>
              </div>
          </div>
      </div>


<form   [formGroup]="checkoutForm" (ngSubmit)="checkout()" class="w-full">

<div class="bg-neutral-50 py-12 px-4 w-full">
    <div class="container mx-auto my-12">
      <div class="flex flex-col gap-6 md:flex-row">
        <div class="flex-1 shrink-0 rounded-sm border border-neutral-200 bg-white px-4 py-8 shadow-sm">
          <div class="mb-8">
            <h3 class="text-2xl font-bold">Your Cart ({{products.length}} items)</h3>
            <p>Welcome to your cart </p>
          </div>
          <ul role="list" class="-my-6 divide-y divide-neutral-200">
            <!-- product item 1 -->
  
            <li class="flex py-6" *ngFor="let pro of products; let i = index">
              <div class="h-32 w-24 flex-shrink-0 overflow-hidden rounded-sm border bg-neutral-50">
                <img  src={{pro.pictureURL}}  alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center" />
              </div>
  
              <div class="ml-4 flex flex-1 flex-col">
                <div>
                  <div class="flex justify-between text-sm text-gray-900">
                    <h3 class="text-base font-bold"><a href="#"> {{pro.Name}} </a></h3>
                    <button type="button" class="flex gap-2 font-medium text-neutral-400 hover:text-neutral-900">
                      <p class="text-xs font-normal">Remove</p>
                      <svg class="h-4 w-4 stroke-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                    </button>
                  </div>
                  <div class="mt-2">
                    <p class="text-xs text-neutral-400">
                        {{pro.Quantity}} items left </p> 
                  </div>
                </div>
                <div class="mt-auto flex flex-1 items-end justify-between text-sm">
                  <div>
                    <label for="quantity" class="sr-only">aantal</label>
                    <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto gt-xs:pl-3">
                    <mat-label>Quantity:</mat-label>
                    <input  type="number" [(ngModel)]="pro.count" (ngModelChange)="onChange(pro, products)" [ngModelOptions]="{standalone: true}" [value]="pro.count"  matInput>
                        <!-- <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                          <mat-error  *ngIf="f.price.errors.required">price is required</mat-error>
                      </div> -->
                </mat-form-field>
                  </div>
  
                  <div class="flex">
                    <div class="text-right">
                      <p class="text-sm font-bold text-orange-600">R {{pro.Cost}}</p>
                      <p class="text-xs text-gray-500">Origineel: <span class="text-sm font-boldh"> </span></p>

                      <div class="mt-1 flex flex-row items-center gap-2">
                        <svg class="h-3 w-3 rotate-90 stroke-2 text-orange-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"></path></svg>
                        <p class="text-xs font-normal text-neutral-400">Titel van korting</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
  
        <!-- Totaalprijs -->
  
        <div class="sticky space-y-4 rounded-sm border border-neutral-200 bg-white py-6 px-4 shadow-sm sm:px-6 md:w-1/3">
          <!-- pricing totals -->
          <h4 class="text-2xl font-bold">Cart Summary</h4>
          <div class="flex flex-col gap-2">
            <div class="flex justify-between text-base text-gray-900">
                <mat-form-field
                class="flex-auto gt-md:pr-3">
                <mat-label>Payment type</mat-label>
                <!-- <input matInput formControlName="eventType" > -->
                <mat-select formControlName="payment_type"  >
                  <mat-option *ngFor="let product of paymentType" [value]="product">{{product}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="flex justify-between text-base text-gray-900">
                <mat-form-field
                class="flex-auto gt-md:pr-3">
                <mat-label>Parent</mat-label>
                <!-- <input matInput formControlName="eventType" > -->
                <mat-select formControlName="parent"  >
                  <mat-option *ngFor="let product of parents" [value]="product">{{product}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="flex justify-between text-base text-gray-900">
        
            </div>
            <div class="flex justify-between text-base text-gray-900">
 
            </div>
            <div class="flex flex-row items-center justify-end gap-2">
              <svg class="h-4 w-4 rotate-90 stroke-2 text-orange-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"></path></svg>
              <p class="text-xs font-normal text-neutral-400">Titel van de korting</p>
            </div>
            <div class="flex flex-row items-center justify-end gap-2">
              <svg class="h-4 w-4 rotate-90 stroke-2 text-orange-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"></path></svg>
              <p class="text-xs font-normal text-neutral-400">Extra korting</p>
            </div>
            <div>
              <div class="my-2 w-full border-t border-gray-300"></div>
              <div class="flex justify-between text-base font-bold text-gray-900">
                <p>Total</p>
                <p>R {{Total}}</p>
              </div>
              <p class="mt-0.5 text-sm text-gray-400">Check out</p>
            </div>
            <!-- checkout button -->
            <div class="mt-auto flex flex-col gap-2 pt-4">
              <div class="flex justify-center text-center text-sm text-gray-500">
                <p>
                    <button
                    mat-flat-button
                    [color]="'primary'"
                  [disabled]="!checkoutForm.valid || errorCount" >
                    Purchase
                </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</form>
</div>
