<div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">
  <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"  [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <p class="text-lg font-medium">{{this.header}}</p>
    <div class="flex flex-col gt-xs:flex-row">
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-xs:pr-3">
            <mat-label>Description</mat-label>
            <input formControlName="eventDescription" matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>

                <div *ngIf="submitted && f.eventDescription.errors" class="invalid-feedback">
                  <mat-error  *ngIf="f.eventDescription.errors.required">Event Description is required</mat-error>
              </div>
        </mat-form-field>
        <mat-form-field
        [ngClass]="formFieldHelpers"
        class="flex-auto gt-xs:pr-3">
        <mat-label>Location</mat-label>
        <input formControlName="eventLocation" matInput>
        <mat-icon
            class="icon-size-5"
            matSuffix
            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>

            <div *ngIf="submitted && f.eventLocation.errors" class="invalid-feedback">
              <mat-error  *ngIf="f.eventLocation.errors.required">Event Location is required</mat-error>
          </div>
    </mat-form-field>
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-xs:pl-3">
            <mat-label>Date</mat-label>
            <input type="date"  formControlName="eventDate" matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                <div *ngIf="submitted && f.eventDate.errors" class="invalid-feedback">
                  <mat-error  *ngIf="f.eventDate.errors.required">Event date is required</mat-error>
              </div>
        </mat-form-field>
    </div>
    <div class="flex">
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="fuse-mat-textarea flex-auto">
            <mat-label>Time</mat-label>
            <input type="time" formControlName="eventTime" matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                <div *ngIf="submitted && f.eventTime.errors" class="invalid-feedback">
                  <mat-error  *ngIf="f.eventTime.errors.required">Event time is required</mat-error>
              </div>
        </mat-form-field>
    </div>
    <div class="flex flex-col gt-md:flex-row">
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-md:pr-3">
            <mat-label>Event Type</mat-label>
            <!-- <input matInput formControlName="eventType" > -->
            <mat-select formControlName="eventType">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.id">{{eventType.eventType}}</mat-option>
            </mat-select>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>

                <div *ngIf="submitted && f.eventType.errors" class="invalid-feedback">
                  <mat-error  *ngIf="f.eventType.errors.required">Event type is required</mat-error>
              </div>
        </mat-form-field>
        <mat-form-field
            [ngClass]="formFieldHelpers"
            class="flex-auto gt-md:pl-3">
            <mat-label>Event Cost</mat-label>
            <input  type="number" formControlName="eventCost" matInput>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                <div *ngIf="submitted && f.eventCost.errors" class="invalid-feedback">
                  <mat-error  *ngIf="f.eventCost.errors.required">Event cost is required</mat-error>
              </div>
        </mat-form-field>

        <button
        mat-flat-button
        [color]="'primary'"
        [disabled]="!eventForm.valid">
        Save
    </button>
    </div>
</form>
  </div>